@import "tailwindcss";

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

textarea {
    min-height: 100px;
    resize: vertical;
    max-height: 200px;
}
